<div class="container create_component mt-5">
    <div class="row h-100">
        <!--    section entrada-->
        <div class="col">
            <div class="row">
                <h4 class="m-2">Entrada</h4>
            </div>

            <div class="row entrada h-100 d-flex justify-content-center">
                <textarea class="custom-input-entrada mt-1"
                          name="html"
                          [(ngModel)]="html.html"
                ></textarea>
            </div>
        </div>

        <!--    output-->
        <div class="col">
            <div class="row">
                <h4 class="m-2">Saída</h4>
            </div>

            <div class="row entrada h-100 d-flex justify-content-center">
                <textarea class="custom-input-entrada mt-1" [value]="result"></textarea>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col d-flex justify-content-around align-items-center">
        <button class="m-3 t1" mat-button><h3 class="m-1" (click)="sendHtml()">Substituir</h3></button>
    </div>
</div>


