
.nav{
  display:  flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border-bottom: #FFFFFF 1px solid;
  background: #191919;
  width: 100%;
  span{
    width: 160px;
    height: 55px;
  }
  .button-container{
    display: flex;
    align-items: center;
    gap: 15px;
  }
  button{
    background: #4F4F4F;
    color: #fff;
  }
}
