<div class="container create_component mt-5">
  <div class="row h-100">
<!--    section entrada-->
    <div class="col">
      <div class="row">
        <h4 class="m-2">Entrada de Frases</h4>
      </div>

      <div class="row h-75 d-flex justify-content-center align-items-center">
        <input type="text" class="custom-input" name="html" [ngModel]="html">
      </div>
      <button (click)="sendHtml()">Enviar</button>
    </div>

<!--    output-->
    <div class="col">
<!--        Section criadas-->
      <div class="row h-50">
        <div class="col">
          <div class="row titulos">
            <div class="aprovado"></div>
            <h4 class="m-2">Criadas.</h4>
          </div>

          <div class="row h-75 d-flex justify-content-center align-items-center">
            <input type="text" class="custom-input" value="{{html}}">
          </div>
        </div>
      </div>
<!--        Section não criadas-->
        <div class="row h-50">
          <div class="col">
            <div class="row titulos ">
              <div class="recusado"></div>
              <h4 class="m-2">Já existem no banco.</h4>
            </div>

            <div class="row h-75 d-flex justify-content-center align-items-center">
              <input type="text" class="custom-input">
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
  <div class="row">
    <div class="col d-flex justify-content-around align-items-center">
      <button class="m-3 t1" mat-button routerLink="/"><h3 class="m-1">Criar</h3></button>
    </div>
  </div>
